{% load static %}
<header>
<nav class = 'top'>
  <ul>
<!-- <li><a href="/">
<img src="{% static 'img/logo.jpg' %}" />
</a></li> -->
<li class = 'title'>
EventChronicles</li>
</ul>
</nav>

<div class = "container">


<nav class = "main">
  <ul>
    <li><a href="#">ABOUT ME</a></li>
    <li><a href="#">PROJECTS</a></li>
    <li><a href="#">PHOTOGRAPHY</a></li>
    <li><a href="#">BLOG</a></li>
  </ul>
</nav>
<nav class = "auth">
  <ul>
    <li><a href = "#">LOGOUT</a></li>
    <li><a href = "#">DASHBOARD</a></li>
    <li><a href = "#">LOGIN</a></li>
    <li><a href = "#">REGISTER</a></li>

  </ul>
</nav>
</header> 